tmp
/test
/build
node_modules
/package.json
packages/workspace/src/generators/**/files/**/*.json
packages/workspace/src/core/dep-graph/vendor.js
packages/**/build/*
packages/**/public/external/*
packages/**/public/assets/*
packages/mev-*/src/schematics/**/*.json
packages/**/**/files/**/*.json
packages/jest/src/schematics/**/files/**/*.json
/.vscode
/.idea
/.github
/coverage
/.yarn
tsconfig.json
package.json
node_modules
dist
coverage
lib
docs/
dist/ 
build/
*.min.js
*.html
*.css
*.scss 
*.svg
*.png 
